:root{
  --red:#F00000;
  --green:#609000;
  --dust1:#C0C078;
  --dust2:#D8D8A8;
  --dust3:#F0F0D8;

  --karla:'Karla', sans-serif;
  --spectral: 'Spectral', serif;
}

*{
    font-family: var(--spectral);
}

.body{
  background-image: linear-gradient(var(--dust1),var(--dust3));
}

h1,h2,h3,h4,h5{
  font-family: var(--karla);
}

main{
  background-image: linear-gradient(var(--dust2),var(--dust3));
}